<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buynow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.BuyNow">
        <activity android:name=".presentation.activity.PaymentMethodActivity" />
        <activity android:name=".presentation.activity.AddAddressActivity" />
        <activity android:name=".presentation.activity.ShipingAddressActivity" />
        <activity android:name=".presentation.activity.VisualResultActivity" />
        <activity android:name=".presentation.activity.VisualSearchActivity" />
        <activity android:name=".presentation.activity.ProductDetailsActivity" />
        <activity android:name=".presentation.activity.SettingsActivity" />
        <activity android:name=".presentation.activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activity.EmailVerifyActivity" />
        <activity android:name=".presentation.activity.HomeActivity" />
        <activity android:name=".presentation.activity.SignUpActivity" />
        <activity android:name=".presentation.activity.LoginActivity" />
    </application>

</manifest>